---
import Layout from '../../layouts/Layout.astro';
import PlayerCard from '../../components/players/PlayerCard.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';
import { getAllPlayers, getEventsOfPlayer, getPlayerHandicapById } from '../../code/players';
import { getTotalWinsByPlayer, getEventsWonByPlayer } from '../../code/stats';
import type { HectorEvent, MatchplayEvent, FinnkampenEvent } from '../../schemas/events';


function linkToPlayer(player: any): string {
    return `/players/${player.id}`;
}

function yearsOfWins(player: any): number[] {
	return getEventsWonByPlayer(player).map(yearOfEvent)
}

function isHectorEvent(event: any): event is HectorEvent {
	return event.format === 'hector'
}

function isMatchPlayEvent(event: any): event is MatchplayEvent {
	return event.format === 'matchplay'
}

function yearOfEvent(event: HectorEvent|MatchplayEvent|FinnkampenEvent): number {
	return parseYearFromDate(event.date)
}

function parseYearFromDate(date: string): number {
	return parseInt(date.match(/\d{4}$/)?.[0] || '0')
}

function yearsOfHectorWins(player: any): number[] {
	return getEventsWonByPlayer(player)
		.filter(isHectorEvent)
		.map(yearOfEvent)
}

function yearsOfVictorWins(player: any): number[] {
	return starts(player)
		.filter(isHectorEvent)
		.filter((event) => event.results?.winners?.victor?.includes(player.id))
		.map(yearOfEvent)
}

function yearsOfMatchplayWins(player: any): number[] {
	return getEventsWonByPlayer(player)
		.filter(isMatchPlayEvent)
		.map(yearOfEvent)
}

function starts(player: any): Array<any> {
	const hasWinner = (event: any): boolean => {
		if (event.format === 'hector') {
			return !!(event as HectorEvent).results?.winners?.hector
		} else if (event.format === 'finnkampen') {
			return !!(event as FinnkampenEvent).results?.winners?.finnkampen
		} else if (event.format === 'matchplay') {
			return !!(event as MatchplayEvent).results?.winners?.matchplay
		}
		return false
	}
	return getEventsOfPlayer(player.id).filter(hasWinner)
}

function startsCount(player: any): number {
	return starts(player).length
}

const players = getAllPlayers().sort((a, b) => getTotalWinsByPlayer(b) - getTotalWinsByPlayer(a))


---

<Layout title="Hector players">
    <main>
		<div class="breadcrumbs">
			<Breadcrumb title="Home" href="/" />
		</div>
        <h1><span class="text-gradient">Players</span></h1>
        <ul role="list" class="link-card-grid">
            {players.map((player) => {
				const hcp = getPlayerHandicapById(player.id)
                return <PlayerCard id={player.id} name={player.name} image={player.image} href={linkToPlayer(player)} starts={startsCount(player)} wins={yearsOfWins(player)} hectorWins={yearsOfHectorWins(player)} victorWins={yearsOfVictorWins(player)} matchplayWins={yearsOfMatchplayWins(player)} handicap={hcp} />
            })}
        </ul>
    </main>
</Layout>

<style>
	main {
		margin: auto;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		text-transform: uppercase;
		font-size: 3.11rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
