---
import Layout from '../../layouts/Layout.astro';
import PlayerCard from '../../components/players/PlayerCard.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';
import { getAllPlayers, getEventsOfPlayer } from '../../code/players';
import { getTotalWinsByPlayer, getEventsWonByPlayer } from '../../code/stats';
import type { HectorEvent, MatchplayEvent, FinnkampenEvent } from '../../schemas/events';


function linkToPlayer(player: any): string {
    return `/players/${player.id}`;
}

function yearsOfWins(player: any): number[] {
	return getEventsWonByPlayer(player)
		.map((event) => event.date)
		.map(date => date.match(/\d{4}$/)?.[0] || '')
		.map(s => parseInt(s))
}

function starts(player: any): number {
	const hasWinner = (event: any): boolean => {
		if (event.format === 'hector') {
			return !!(event as HectorEvent).results?.winners?.hector
		} else if (event.format === 'finnkampen') {
			return !!(event as FinnkampenEvent).results?.winners?.finnkampen
		} else if (event.format === 'matchplay') {
			return !!(event as MatchplayEvent).results?.winners?.matchplay
		}
		return false
	}
	return getEventsOfPlayer(player.id).filter(hasWinner).length
}

const players = getAllPlayers().sort((a, b) => getTotalWinsByPlayer(b) - getTotalWinsByPlayer(a))


---

<Layout title="Players">
    <main>
		<div class="breadcrumbs">
			<Breadcrumb title="Home" href="/" />
		</div>
        <h1><span class="text-gradient">Players</span></h1>
        <ul role="list" class="link-card-grid">
            {players.map((player) => {
                return <PlayerCard id={player.id} name={player.name} image={player.image} href={linkToPlayer(player)} starts={starts(player)} wins={yearsOfWins(player)} handicap={player.handicap} />
            })}
        </ul>
    </main>
</Layout>

<style>
	main {
		margin: auto;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		text-transform: uppercase;
		font-size: 3.11rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
