---
import Layout from '../../layouts/Layout.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';
import CourseRatingTable from '../../components/courses/CourseRatingTable.astro';
import ScorecardTable from '../../components/courses/ScorecardTable.astro';
import { type Course } from '../../schemas/courses';
import { getEventsAtCourse, linkToEvent } from '../../code/events';
import { getCourseById } from '../../code/courses';
import { getCollection } from 'astro:content';


export async function getStaticPaths() {
    const courses = await getCollection('courses');
    return courses.map(course => ({
        params: { slug: course.id },
        props: course,
    }));
}

const { slug } = Astro.params;
let course: Course|undefined = getCourseById(slug);
if (!course) {
    Astro.response.status = 404;
}
course = course!

const relatedEvents = getEventsAtCourse(course.id);
const holeLayoutShape = course.course?.descriptions?.[0]?.shape === 'wide' ? 'wide' : 'narrow';

---

<Layout title={course.name}>
    <main>
        <div class="breadcrumbs">
            <Breadcrumb title="Home" href="/" />
            <Breadcrumb title="Courses" href="/courses" />
        </div>
        <h1><span class="text-gradient">{course.name}</span></h1>

        <div class="hero">
            <img src={course.hero_image} alt={course.name} />
        </div>

        <div class="description">
            {course.description_long.map((segment) => {
                if (segment.type === 'image') {
                    return <img src={segment.url} />
                } if (segment.type === 'paragraph' && segment.content) {
                    return <p>{segment.content}</p>
                }
            })}
        </div>

        <CourseRatingTable course={course} />

        <ScorecardTable course={course} />

        {(course.images.course_layout || course.course) && (
            <div class="course-layout">
                {course.images.course_layout && (
                    <>
                        <h2>Course layout</h2>
                        <img src={course.images.course_layout} />
                    </>
                )}

                {course.course?.descriptions && (
                    <div class:list={['holes-grid', { narrow: holeLayoutShape === 'narrow', wide: holeLayoutShape === 'wide' }]}>
                        {course.course.descriptions.map((hole) => {
                            const holeHref = `/courses/${slug}/holes/${hole.hole}`
                            return (
                                <div class:list={['hole', { narrow: holeLayoutShape === 'narrow', wide: holeLayoutShape === 'wide' }]}>
                                    <a href={holeHref}>
                                        <h2>Hole {hole.hole}</h2>
                                        <img src={hole.layout} />
                                    </a>
                                </div>
                            );
                        })}
                    </div>
                )}
            </div>
        )}

        <div class="related-events">
            <h2>Events at {course.name}</h2>
            {relatedEvents.map((event) => {
                return (
                    <div class="related-event"><a href={linkToEvent(event)}>{event.name}</a></div>
                );
            })}
        </div>
    </main>
</Layout>

<style define:vars={{ holeLayoutShape }}>
    pre {
        max-width: calc(100% - 2rem);
        overflow: scroll;
    }

    main {
		margin: auto;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

    h1 {
		text-transform: uppercase;
		font-size: 3.03rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
		margin-bottom: 1em;
	}

    h2 {
        margin-block-start: 1em;
        margin-block-end: 0.5em;
    }

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

    .hero {
        display: flex;
        width: calc(100%);
    }

    .hero img {
        width: calc(100%);
        aspect-ratio: 16/9 auto;
        object-fit: cover;
    }

    .description {
        width: calc(100%);
    }

    .description img {
        width: calc(100%);
        aspect-ratio: 16/9 auto;
    }

    .course-layout img {
        width: 100%;
    }

    @media only screen and (max-width: 500px) {
        .holes .hole { width: calc(100% / 4  - 40px); }
    }

    .holes-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
        /* grid-template-rows: repeat(auto-fill, minmax(180px, 1fr)); */
    }

    .holes-grid .hole {
        margin: 10px;
        min-width: 80px;
        text-align: center;
        border-radius: 20px;
    }

    .holes-grid .hole.narrow {
        min-width: 80px;
    }

    .holes-grid .hole.wide {
        min-width: 120px;
    }

    .holes-grid a {
        color: #fff;
        text-decoration: none;
        width: 100%;
    }

    .holes-grid .hole img {
        min-width: 80px;
        height: 300px;
        object-fit: contain;
    }

    .holes-grid .hole.narrow img {
        min-width: 80px;
        height: 300px;
    }

    .holes-grid .hole.wide img {
        min-width: 120px;
        height: 300px;
    }

    .holes-grid { grid-template-columns: 1fr 1fr 1fr; }
    @media only screen and (min-width: 900px) {
        .holes-grid { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
    }
    @media only screen and (min-width: 600px) and (max-width: 899px) {
        .holes-grid { grid-template-columns: 1fr 1fr 1fr 1fr; }
    }
    @media only screen and (min-width: 500px) and (max-width: 599px) {
        .holes-grid { grid-template-columns: 1fr 1fr 1fr; }
    }
    @media only screen and (min-width: 300px) and (max-width: 500px) {
        .holes-grid.wide { grid-template-columns: 1fr 1fr; }
    }

</style>
