---
import Layout from '../../layouts/Layout.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';
import EventCard from '../../components/events/EventCard.astro';
import Highlight from '../../components/Highlight.astro';

import events from '../../data/events.json';

function linkToEvent(event: any) {
    return `/events/${event.id}`;
}

---

<Layout title="Tää ei oo viimeinen Hector?">
	<main>
		<div class="breadcrumbs">
			<Breadcrumb title="Home" href="/" />
		</div>
		<h1><span class="text-gradient">Events</span></h1>
        <Highlight>
            <p><strong>NEXT EVENT:</strong></p>
            <p></p><strong><a href="/events/HECTOR2024" style="color: white">Hector 2024</a></strong> at <strong></strong>La Finca Golf Resort</strong>, Spain.</p>
        </Highlight>
		<ul role="list" class="link-card-grid">
			{events.map((event) => {
                return <EventCard title={event.name} location={event.location} date={event.date} href={linkToEvent(event)}/>
            })}

			<EventCard
				href="/events/HECTOR2023"
				title="Hector 2023"
                location="Diamond Country Club, Austria"
				date="TBD"
			/>
			<EventCard
				href="/events/HECTOR2022"
				title="Hector 2022"
                location="Quellness Golf Resort, Germany"
				date="TBD"
			/>
			<EventCard
				href="/events/FINNKAMPEN2022"
				title="Finnkampen 2022"
                location="Kurk Golf, Finland"
				date="October 22, 2022"
			/>
			<EventCard
				href="/events/FINNKAMPEN2021"
				title="Finnkampen 2021"
                location=""
				date="October 23, 2021"
			/>
			<EventCard
				href="/events/HECTOR2021"
				title="Hector 2021"
                location="Penati Golf Resort, Slovakia"
				date="September 1-4, 2021"
			/>
			<EventCard
				href="/events/HECTOR2020"
				title="Hector 2020"
                location="Tahko Golf Resort, Finland"
				date="September 10-13, 2021"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		text-transform: uppercase;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
